.jumbotron {
    color: white;
    background-color: #2B2B2B;
    padding-bottom: 40px;
    margin-bottom: 0;
}

.title h2{
    font-size: 26px;
}

.btn-custom {
    color: white;
    font-size: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.btn-custom:hover {
    color: #7F7F7F;
}

.about-section {
    background-color: #D4D4D4;
    padding-top: 40px;
    padding-bottom: 40px;
}

.about-section img {
    border:2px solid black;
}

.heading{
    margin-top: 15px;
    margin-bottom: 25px;
}

.text-lg {
    font-size: 125%;
}

.portfolio-section {
    background-color: #2B2B2B;
    color: white;
    padding-top: 20px;
}

.img-thumbnail {
    background: #000000;
    background-color: transparent;
}

.footer {
    color: white;
    background-color: #2B2B2B;
    padding-top: 20px;
    padding-bottom: 10px;
}
